body {
  font-family: "Shadows Into Light", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;

}

header {
  background-image: url("./images/bg_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    overflow-x: hidden;
  }

}

.nav_bar {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.nav_bar:hover {
  background: rgb(27, 25, 25);
}

.nav_bar a:hover {
  background-color: rgb(131, 130, 130);
}

.thin {
  margin-top: 60px;
  font-size: 70px;
}

.box {
  width: 200px;
  height: 50px;
  background-color: rgb(27, 25, 25);
}

.box:hover {
  background-color: grey;
}

.box1 {
  width: 200px;
  height: 50px;
  background-color: rgb(27, 25, 25);
}

.heading div {
  padding: 10px
}

.container1 {
  width: 1000px;
  margin-left: 180px;
  height: auto;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container1 {
    overflow-x: hidden;
    margin-left: 20px;
    width: 400px;
  }

}

.menus:hover {
  background-color: rgb(252, 90, 90);
}

.abt1 {
  margin: 50px;
  padding: 20px 20px 20px 100px;
}

.map_1 {
  width: 100%;
}

.mains {
  background-color: #c9e1fa;
}

.form1 {
  margin: 150px;
  padding: 30px;
}

.form1 input {
  padding: 10px;
  font-size: medium;
  border: 1px solid rgb(32, 32, 32);
  background-color: azure;
  height: 60px;
}

footer {
  padding-bottom: 30px;
}

button {
  padding: 10px;
  font-size: medium;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 20px;
  background-color: azure;
  height: 60px;
  width: 1060px;
}

@media (min-width:576px) and (max-width:767px) {
  button {
    width: 330px;
    border-radius: 20px;
  }
}